.splide {
  width: 80%;
  margin: 0 auto;
  background-color: #f5f5f5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.splide.is-initialized {
  opacity: 1;
}

.splide__track {
  padding: 1rem 0;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 50vh !important;
  /* Fixed width relative to viewport height */
}

.splide__slide img {
  height: 100%;
  width: 100%;
  max-height: 500px;
  object-fit: scale-down;
}

/* Prevent FOUC (Flash of Unstyled Content) */
.splide__list {
  visibility: hidden;
}

.splide.is-initialized .splide__list {
  visibility: visible;
}

table td img {
  max-width: 100%;
  height: auto;
}

td {
  max-width: 100%;
}

.flex-container {
  display: flex;
  gap: 1%; /* adds space between images */
}
.flex-container img {
  width: 49%;
}